body{
  background-color: #f5fcff;
  height: 100vh;
  margin: 0;
}
.cloud{
  background: url('../img/cloud.png') 100% 50px/ 400px 200px repeat-x, url('../img/sun.png') 100%/250px 250px no-repeat;
  height: 250px;
  /*margin-top: 50px; хотів зробити відступ так, але знайшов кращий варіант*/
  /*висота блоку 250px і відступ 50 як вимагали умови задачі, сонечко засунув під хмарки без z індексу*/
}
.deer{
  background: url('../img/deer.png') top no-repeat;
  height: 500px;
  position: relative;
  top: 125px;/* лише так вигадав опустити оленя на травичку*/
  z-index: -1;
}
.grass{
	background: url('../img/grass.png') 100%/ 500px 150px repeat-x;
	height: 150px;
}